In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import demoji
import os

# File to Load
chart_path = "spotify_charts1.csv"

# Read Chart Data File and store into Pandas DataFrames
chart_data = pd.read_csv(chart_path)

#print dataframe
chart_data

,date,title,artist,region,total streams
0,2017,"""All That Is or Ever Was or Ever Will Be""",Alan Silvestri,Poland,3547
1,2017,"""All That Is or Ever Was or Ever Will Be""",Alan Silvestri,Turkey,3764
2,2017,"""Read All About It, Pt. III""",Emeli Sand√©,Belgium,15971
3,2017,"""Read All About It, Pt. III""",Emeli Sand√©,Czech Republic,6855
4,2017,"""Read All About It, Pt. III""",Emeli Sand√©,Denmark,6967
...,...,...,...,...,...
404949,2021,Ïö± (UGH!),BTS,South Korea,43909
404950,2021,ÏπúÍµ¨,BTS,South Korea,356265
404951,2021,ÌÇ§Ïä§Îäî Îã§ÏùåÏóê,LOONA,Indonesia,93903
404952,2021,ü™ê,Coldplay,Belgium,7747
404953,2021,ü™ê,Coldplay,Costa Rica,24223

In [2]:
#cleaning the titles, removing characters and emojis:

#find emoji
symbol = '''ü™ê'''
demoji.findall(symbol)

{'\U0001fa90': 'ringed planet'}

In [3]:
#replace emoji
cleaned_df = chart_data.replace({'\U0001fa90': 'ringed planet'})
cleaned_df['title']

0         "All That Is or Ever Was or Ever Will Be"
1         "All That Is or Ever Was or Ever Will Be"
2                      "Read All About It, Pt. III"
3                      "Read All About It, Pt. III"
4                      "Read All About It, Pt. III"
                            ...
404949                                     Ïö± (UGH!)
404950                                           ÏπúÍµ¨
404951                                      ÌÇ§Ïä§Îäî Îã§ÏùåÏóê
404952                                ringed planet
404953                                ringed planet
Name: title, Length: 404954, dtype: object

In [4]:
cleaned_df['title'] = cleaned_df['title'].str.strip()
cleaned_df['title'] = cleaned_df['title'].str.replace('#','')
cleaned_df['title'] = cleaned_df['title'].str.replace('"','')
cleaned_df['title'] = cleaned_df['title'].str.replace('.','')
cleaned_df['title'] = cleaned_df['title'].str.replace('$','s')
cleaned_df.replace(r'\s*(.*?)\s*', r'\1', regex=True)
cleaned_df

,date,title,artist,region,total streams
0,2017,All That Is or Ever Was or Ever Will Be,Alan Silvestri,Poland,3547
1,2017,All That Is or Ever Was or Ever Will Be,Alan Silvestri,Turkey,3764
2,2017,"Read All About It, Pt III",Emeli Sand√©,Belgium,15971
3,2017,"Read All About It, Pt III",Emeli Sand√©,Czech Republic,6855
4,2017,"Read All About It, Pt III",Emeli Sand√©,Denmark,6967
...,...,...,...,...,...
404949,2021,Ïö± (UGH!),BTS,South Korea,43909
404950,2021,ÏπúÍµ¨,BTS,South Korea,356265
404951,2021,ÌÇ§Ïä§Îäî Îã§ÏùåÏóê,LOONA,Indonesia,93903
404952,2021,ringed planet,Coldplay,Belgium,7747
404953,2021,ringed planet,Coldplay,Costa Rica,24223

In [5]:
#create new csv with cleaned data 
cleaned_df.to_csv('spotify_charts_clean_titles.csv', index=False)

In [6]:
chart2_path = "spotify_charts_clean_titles.csv"
chart2_data = pd.read_csv(chart2_path)
chart2_data

,date,title,artist,region,total streams
0,2017,All That Is or Ever Was or Ever Will Be,Alan Silvestri,Poland,3547
1,2017,All That Is or Ever Was or Ever Will Be,Alan Silvestri,Turkey,3764
2,2017,"Read All About It, Pt III",Emeli Sand√©,Belgium,15971
3,2017,"Read All About It, Pt III",Emeli Sand√©,Czech Republic,6855
4,2017,"Read All About It, Pt III",Emeli Sand√©,Denmark,6967
...,...,...,...,...,...
404949,2021,Ïö± (UGH!),BTS,South Korea,43909
404950,2021,ÏπúÍµ¨,BTS,South Korea,356265
404951,2021,ÌÇ§Ïä§Îäî Îã§ÏùåÏóê,LOONA,Indonesia,93903
404952,2021,ringed planet,Coldplay,Belgium,7747
404953,2021,ringed planet,Coldplay,Costa Rica,24223